@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div>
    <p>What's Hot?</p>
    @foreach (var item in ViewBag.HotBooks)
    {
        <div class="carousel">
            <h4>@item.Title</h4>
            <img src="~/Images/@item.ISBN" alt="@item.Description" />
        </div>
    }


</div>
}

<div>
    @Html.ActionLink("Create a new book", "Create")
</div>